
<!doctype html>
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#testlink').click(function(e){
                e.preventDefault();
                $.ajax({
                  type: 'POST',
                  url: '/upload_geoaudio',
                  contentType: 'application/json',
                  data: JSON.stringify({
                    longitude: 20 + 40 * Math.random(),
                    latitude: 20 + 40 * Math.random(),
                    whisper: "asfxvsfsfskjsfkjsfkjksfjksajfksjfksajfkajfkjasfsfkjkwjfkjsfkjskfjskfjksjfksjfksj"
                  }),
                  success: function(data){
                    alert("YES!");
                    $("#results").text(data);
                  },
                  error: function(data){
                    alert("Something went wrong: " + data);
                  },
                  dataType: "text"
                });
            });
        });
    </script>
</head>
<title>Test the app</title>
<a id="testlink" href="#" onclick="">Test link is here.</a>
<div id="results"></div>